<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles are from <a href='https://www.nytimes.com/section/technology' target="_blank">the Verge</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>
